# Environment variables 

BORG_PASSPHRASE=my-strong-passphrase
VOLUME_SOURCE_1=/
VOLUME_SOURCE_2=/home
VOLUME_TARGET=/mnt/backup/borg-repository
VOLUME_ETC_BORGMATIC=./data/borgmatic.d
VOLUME_BORG_CONFIG=./data/.config/borg
VOLUME_SSH=./data/.ssh
VOLUME_BORG_CACHE=./data/.cache/borg
TZ=Europe/Berlin
