{$MY_DOMAIN} {
	reverse_proxy homer:8080

	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}
}

nextcloud.{$MY_DOMAIN} {
	reverse_proxy nextcloud-aio-apache:11000

	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 100.64.0.23
	}
}
