# Environment variables 

MY_DOMAIN=<your_domain_name>
MY_HOST_IP=<ip_of_your_server>
DNS_RESOLVER=<your_dns_server_if_using_vpn>
PORKBUN_API_KEY=<porkbun_api_key>
PORKBUN_API_SECRET_KEY=<porkbun_api_secret_key>
